@model User

@{
    Layout = null;
}
@if (Model == null)
{
    <li>@Html.ActionLink("Login", "Login", "Account")</li>
    <li>@Html.ActionLink("Register", "Register", "Account")</li>
}
else
{
    <li><a>@Model.LoginName</a></li>
    <li>@Html.ActionLink("Logout","Logout")</li>
}
