@model CharacterListViewModel

@{
    ViewBag.Title = "Character list";
}

<h3>You have @Model.Cart.PointsRemaining points remaining to vote for characters.</h3>

<h1>@ViewBag.ListTitle</h1>

@foreach (var character in Model.Characters)
{
    @Html.Partial("_CharacterCard", character);
}

@Html.Partial("_SearchForm")