@using MVC.Extensions
<div class="character-search-form">
    <p><h3>Search for characters:</h3></p>
    @using (Html.BeginRouteForm("Show all characters"))
    {
        <p>
            <b>Gender</b>: @(Html.EnumDropDownList<Gender>("gender", "Any", null, null))

            @*@Html.DropDownList("gender", new[] {
                new SelectListItem { Text = "Any", Value = null, Selected = true },
                new SelectListItem { Text = "Male", Value = "Male", Selected = false },
                new SelectListItem { Text = "Female", Value = "Female", Selected = false }})*@
        </p>
        <p><b>Minimal price</b>: @Html.TextBox("minPrice")</p>
        <p><b>Maximal price</b>: @Html.TextBox("maxPrice")</p>
        <p><b>Name</b>: @Html.TextBox("name")</p>
        <p><input type="submit" value="submit"></p>
    }
</div>